.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
  &:hover {
    color: #108ee9;
  }
}
.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
  margin-top: 30px;
  text-align: center;
  >span {
    color: #ffffff;
    font-size: 20px;
  }
}
.ant-layout-footer {
  padding: 10px 50px;
}
.ant-layout-sider-children {
  height: auto !important;
}
.footer {
  background: rgb(240, 242, 245);
  padding: 0px 50px 24px;
  font-size: 14px !important; 
  text-align: center;
}