// 业务组件基础样式 
$component-background: #ffffff;
$border-width-base: 1px;
$border-style-base: solid;
$border-color-split: #e8e8e8;


// screen屏幕大小设定 
$screen-xs : 575px;

$screen-sm : 767px;
$screen-sm-min : 576px;

$screen-md : 991px;
$screen-md-min : 768px;

$screen-lg : 1199px;
$screen-lg-min : 992px;

$screen-xl-min : 1199px;


